<h1>Demo#index</h1>
<!-- Neta this is the home page -->
<p>Hello from Index!</p>

<a href="/demo/hello">Hello page 1</a><br />
<!-- ^Example of a regular link -->
<%= link_to('Hello page 2', {:action => 'hello'}) %><br />
<!-- ^This is an example of a Rails Link, using the method link_to -->
<%= link_to('Hello with parameters', {:action => 'hello',:page => 5, :id => 20}) %>
<!-- ^ Adding parameters to a URL
	Note 11.- demo/hello/20?page=5   -->
